@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #1a1a1a;
}

/* Left to right scrolling text animation for Spotify titles */
@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(var(--translate-distance, -60px));
  }
  100% {
    transform: translateX(var(--translate-distance, -60px));
  }
}

